body {
    margin: 0;
    padding: 0;
    font-family: arial, serif;
    flex-direction: column;
}

/*significant trouble getting my first and last name to align on the same block within the navbar*/

header {
    background-color: slategrey;
}

h1 {
    padding-top: 15px;
    height: 65px;
    background-color: lightblue;
    color: whitesmoke;
    padding-inline-start: 3em;
    text-indent: 20px;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 15px 10px 0 35px;
    text-shadow: 2px 2px 2px slategrey;
}

/*can't figure out how to align subtitle on right side*/

.nav-home {
    background-color: slategrey;
    display: flex;
    justify-content: right;
}

.main-nav a {
    font-weight: 300;
    background-color: slategrey;
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    color: lightblue;
    text-decoration: underline solid 2px;
    justify-content: end;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 3em;
}

.main-nav > .container > a:hover {
    color: rgb(252, 253, 253);
}

.main-nav .container {
    display: flex;
    justify-content: flex-end;
}


a {
    background: no-repeat;
    background-image: linear-gradient(var(--text-color,#333),var(--text-color,#333));
    background-size: 100% 1px;
    background-position: center bottom;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 10px;
    text-shadow: 5px 5px 5px black;
}

.banner {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

/*found creating a direct descendant useful here*/

.banner > .banner-img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    min-height: 250px;
    object-fit: cover;
    border-bottom: solid 2px black;
}


#ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    position: absolute;
    bottom: 20px;
    right: 3%;
    padding: 1em 2em 1em 3em;
    background-color: steelblue;
    color: lightcyan;
    border: solid gray 10px;
    border-radius: 5em;
    font-weight: 200;
    font-size: large;
    line-height: 30px;
    box-shadow: 10px 10px 10px black;
}

main {
    background-color: slategrey;
}

.aboutme {
    color: lightblue;
    align-items: flex-end;
}

#aboutme {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}


h2 {
    text-indent: 5em;
    font-size: xx-large;
      }

#h2-1 {
    color: lightblue;
    border-right: solid 5px royalblue;
}

#h2-2 {
    color: lightblue;
    padding-bottom: 2%;
    padding-top: 6%;
}

#h2-3 {
    color: lightblue;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-right: 45px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.photoex img {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15%;
    padding-bottom: 15%;
}

h3 {
    background-color: black;
    color: aliceblue;
    
}

footer {
    height: 10px;
    width: 100%;
    text-indent: 5%;
    padding-top: 5em;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: #333;
    border-top: solid 3px black;
}

#spang {
    color: #4285F4;
    border-radius: 15%;
}

#spanm {
    color: #BB001B;
}

#spana {
    color: #EA4335;
}

#spani {
    color: #FBBC05;
}

#spanl {
    color: #34A853;
}

#span2 {
    background-color: #817f7f;
    color: #171515;
}

#span3 {
    background-color: #191414;
    color: #81b71a;
}

#span4 {
    background-color: aliceblue;
    color: #0072b1;
}