* {
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    padding: 0;
    flex-direction: column;
}

/*significant trouble getting my first and last name to align on the same block within the navbar*/

header {
    background-color: slategrey;
}

h1 {
    padding-top: 15px;
    height: 65px;
    background-color: lightblue;
    color: whitesmoke;
    padding-inline-start: 3em;
    text-indent: 20px;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 15px 10px 0 35px;
    text-shadow: 2px 2px 2px slategrey;
}

/*can't figure out how to align subtitle on right side*/

.nav-home {
    background-color: slategrey;
    display: flex;
    justify-content: right;
}

.main-nav a {
    font-weight: 300;
    background-color: slategrey;
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    color: rgb(211, 236, 245);
    text-decoration: underline solid 2px;
    justify-content: end;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 3em;
}

.main-nav > .container > a:hover {
    color: rgb(252, 253, 253);
}

.main-nav .container {
    display: flex;
    justify-content: flex-end;
}


header a {
    background: no-repeat;
    background-image: linear-gradient(var(--text-color,#333),var(--text-color,#333));
    background-size: 100% 1px;
    background-position: center bottom;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 10px;
    text-shadow: 4px 4px 4px black;
}

.banner {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

/*found creating a direct descendant useful here*/

.banner > .banner-img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    min-height: 250px;
    object-fit: cover;
    border-bottom: solid 2px black;
}


#ul {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    position: absolute;
    bottom: 20px;
    right: 3%;
    padding: 1em 2em 1em 3em;
    background-color: steelblue;
    color: lightcyan;
    border: solid gray 10px;
    border-radius: 5em;
    font-weight: 200;
    font-size: large;
    line-height: 30px;
    box-shadow: 10px 10px 10px black;
}

main {
    background-color: slategrey;
}

.aboutme {
    color: rgb(211, 236, 245);;
    align-items: flex-end;
}

#aboutme {
    display: inline;
    text-decoration: none;
}

h2 {
    text-indent: 5em;
    font-size: xx-large;
    color: rgb(211, 236, 245);;
    text-decoration: underline;
      }

#h2-1 {
    border-inline-start: #4285F4;
    border: silver 5px solid;
    border-block-end-style: groove;
    background-color: lightslategray;
    background-color: hsl(30, 1%, 30%);
}

TODO:create border point between work and photos

#h2-2 {
    color: rgb(211, 236, 245);
    padding-bottom: 10%;
    padding-top: 6%;
    text-decoration: underline;
    border-bottom: #333 3px solid;
}

#h2-3 {
    color: rgb(211, 236, 245);;
    display: flex;
    padding-top: 20px;
    padding-right: 45px;
    text-decoration: underline;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 0;
}

.photoex img {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    flex: 0 0 300px;
    box-shadow: 3px 3px 3px cornflowerblue;
    height: 80%;
    width: 80%;
    object-fit: cover;
}

/*extensive trouble with extra blank space under footer. ask*/

footer {
    height: 100%;
    width: 100%;
    text-indent: 5%;
    padding-top: 0.2em;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: #333;
    border-top: solid 3px black;
    text-shadow: 2px 2px 2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*would like to be able to make the black backdrop of the 'contact me' slightly transparent. hsl was not the answer*/

h3 {
    background-color: #00000080;
    color: aliceblue;
    border-radius: 50%;
    padding: 1em 1em 1em 1em; 
    text-align: justify;
}

footer p {
    color:white;
    font-weight: bolder;
}

#spang {
    color: #4285F4;
    border-radius: 50%;
}

#spanm {
    color: #BB001B;
}

#spana {
    color: #EA4335;
}

#spani {
    color: #FBBC05;
}

#spanl {
    color: #34A853;
}

#span2 {
    background-color: #817f7f;
    color: #171515;
    border-radius: 50%;
    padding: 1em 1em 1em 1em; 
}

#span3 {
    background-color: #191414;
    color: #81b71a;
    border-radius: 50%;
    padding: 1em 1em 1em 1em; 
}

#span4 {
    background-color: aliceblue;
    color: #0072b1;
    border-radius: 50%;
    padding: 1em 1em 1em 1em; 
}

.fa- 